
#Created by Constraints Editor (xc3s500e-vq100-4) - 2014/10/13
TIMEGRP "DATAVALID" = FFS("synth0/data_valid");
TIMESPEC TS_DPRAM2DATAVALID = FROM "DPRAM_grp" TO "DATAVALID" TS_clk_builder0_CLKFX_BUF * 2;

#Created by Constraints Editor (xc3s500e-vq100-4) - 2014/10/13
INST "synth0/DP_ram0/dpram*" TNM = DPRAM_grp;
#Created by Constraints Editor (xc3s500e-vq100-4) - 2014/10/13
#Created by Constraints Editor (xc3s500e-vq100-4) - 2014/10/13
TIMEGRP "BLOCKCNT" = FFS("synth0/SD_ss0/SDdriver0/block_cnt<*>") FFS("synth0/SD_ss0/SDdriver0/nb_data<*>") FFS("synth0/SD_ss0/SDdriver0/data_cpt<*>");
NET "synth0/SD_ss0/SDdriver0/finish" TPTHRU = "FINISH";
#Created by Constraints Editor (xc3s500e-vq100-4) - 2014/10/13
TIMESPEC TS_DPRAM2BLOCKCOUNT = FROM "DPRAM_grp" TO "BLOCKCNT" TIG;
#Created by Constraints Editor (xc3s500e-vq100-4) - 2014/10/14
TIMEGRP "SOUNDGEN0_OUTDATA" = RAMS("synth0/soundgen0/out_data<*>");
#Created by Constraints Editor (xc3s500e-vq100-4) - 2014/10/14
TIMEGRP "FIFOOUT_DRUM" = RAMS("synth0/drum0_sample<*>");
#Created by Constraints Editor (xc3s500e-vq100-4) - 2014/10/14
TIMEGRP "SDDRIVER_NBDATA" = FFS("synth0/SD_ss0/SDdriver0/nb_data<*>");
TIMESPEC TS_SDDRIVER_NBDATA2BLOCKCNT = FROM "SDDRIVER_NBDATA" TO "BLOCKCNT" TIG;
#Created by Constraints Editor (xc3s500e-vq100-4) - 2014/10/14
TIMEGRP "SDDRIVER_FIFODATA" = FFS("synth0/SD_ss0/SDdriver0/fifo_data<*>") ;
TIMESPEC TS_RAM2SDFIFODATA = FROM "DPRAM_grp" THRU "FINISH" TO "SDDRIVER_FIFODATA" TIG;
#Created by Constraints Editor (xc3s500e-vq100-4) - 2014/10/14
TIMEGRP "SNDGEN_SAMPLE_RL" = FFS("synth0/soundgen0/sample_r<*>") FFS("synth0/soundgen0/sample_l<*>");
#Created by Constraints Editor (xc3s500e-vq100-4) - 2014/10/22
TIMEGRP "SDDRIVER_STATE" = FFS("synth0/SD_ss0/SDdriver0/state*"); 
TIMESPEC TS_SDDRIVER_STATE2NBDATA = FROM "SDDRIVER_STATE" TO "SDDRIVER_NBDATA" TS_clk_builder0_CLKFX_BUF * 2;
